.loader {
  border: 5px solid rgba(0, 30, 119, 0.616); 
  border-left-color: #0762be; 
  border-radius: 50%; /* Round shape */
  width: 50px; /* Increased width */
  height: 50px; /* Increased height */
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
